:root {
    --black-color: #100d0d;
    --gray-color: rgb(41, 25, 164);

    --bg-color: #363062;

    --main-color: #252EFF;
    --main-color-2: #FB923C;

    --text-color: #000000;
    --text-white: #e5eef3;

    // --track-color: #202324;
    // --thumb-color: #e5eef3;
    // --thumb-hover-color: #596268;

    // --fb-color: #3b5998;
    // --google-color: #a61c00;
    // --twitter-color: #1da1f2;

    // --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}